<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-mime" version="0.0.1"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>MIME</name>
    <description>Cordova MIME Plugin</description>
    <keywords>cordova,mime</keywords>
    <js-module name="mime" src="www/mime.js">
        <clobbers target="cordova.plugins.mime" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="MIME">
                <param name="ios-package" value="CDVMime" />
            </feature>
        </config-file>
        <header-file src="src/ios/CDVMime.h" />
        <source-file src="src/ios/CDVMime.m" />
    </platform>
</plugin>
